* {
    background-color: #c8c2bc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    box-sizing: border-box;
}

.index {
color: black;
width: 60%;
padding: 20px;
border: 5px solid sienna;
margin : 20px auto;
background-color: #9a9391;
}

.index h1 {
    background-color: #9a9391;
    text-align: center;
}

.index ul {
 background-color: #9a9391; 
}

.index li,
.index a
{
width: 100%;
padding: 10px;
background-color: #9a9391;
}

li {
    width: 100%;
    font-size: 18px;
}

a{
    color: rgb(37, 113, 161);
}

.recette {
    width: 80%;
    margin: auto;
}

.recette.intro {
    text-align: center;
    padding : 20px;
}

h1, h2 {
    background-color: #9a9391;
    text-align: center; 
}

h2 {
    width: 90%;
    margin: auto;
}

img {
    width: 50%;
    display: block;
    margin: auto;
}

.card {
    margin-left: 7%;
    margin-bottom: 30px;
}

.homelink {
    background-color: #c8c2bc;
    padding: 50px 0px 30px 20px;
    
}